*/bin-debug
*/bin-release
*/libs/*
*.a
*.framework
puzzle_android/proj.android/bin/
puzzle_android/proj.android/gen/
*.apk
*.ipa
.idea
server/bin/*
server/node_modules/*
temp/*
egret-android-support/*
egret-ios-support/*
